spring:
  datasource:
    url: jdbc:postgresql://snippet_engine_db:5432/snippet-engine-db
    username: sa
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  security:
    oauth2:
      resource server:
        jwt:
          issuer-uri: ${AUTH0_DOMAIN}
          audiences: ${AUTH0_AUDIENCE}

stream:
  formatter: "format-stream"

groups:
  formatter: "format-groups"